body {
    font-size: 15pt;
    background-color:#D1EDE1;
    color:#FFFFFF;
}

#card {
    height: 95vh;
    width: fit-content;
    margin: 0px auto;
    margin-top: 20px;
    box-shadow: 0.5px 0.5px 0.5px #000;
    background-color:#003E19;
}
#txt_date {
    cursor:pointer;
}
.card-title {
    font-size: 12pt;
    background-color:#7BC5AE;
    color:white;
}
.card-footer {
    font-size: 10pt;
    background-color:#7BC5AE;
    color:#FFFFFF;
}

.date {
   /*display:none;*/
   position: absolute;
   opacity:0;
}
@media (min-width:1024px){
    
}
