body {
    font-size: 15pt;
    background-color:#FFF8E7;
    color:#2A2A2A;
}

#card {
    height: 95vh;
    width: fit-content;
    margin: 0px auto;
    margin-top: 20px;
    box-shadow: 0.5px 0.5px 0.5px #000;
}
#txt_date {
    cursor:pointer;
}
.card-title {
    font-size: 12pt;
    background-color:#FFFFFF;
    color:#6B6B6B;
}
.card-footer {
    font-size: 10pt;
    background-color:#FFFFFF;
    color:#6B6B6B;
}

.date {
   /*display:none;*/
   position: absolute;
   opacity:0;
}
@media (min-width:1024px){
    
}
