body {
    font-size: 15pt;
    background-color:#003E19;
    color:#FFFFFF;
}

#card {
    height: 95vh;
    width: fit-content;
    margin: 0px auto;
    margin-top: 20px;
    background-color:#028c6a;/*couleur footer &header*/
    box-shadow: 0.5px 0.5px 0.5px #000;
}
#txt_date {
    cursor:pointer;
}
.card-title {
    font-size: 12pt;
}
.card-footer {
    font-size: 10pt;
}
.card-body {
    background-color:#7BC5AE;
    
}
.date {
   /*display:none;*/
   position: absolute;
   opacity:0;
}
@media (min-width:1024px){
    
}

.navbar-toggler-icon{
    filter:invert(1);
}
