body {
    font-size: 15pt;
    background-color:#FFF8E7;
    color:#2A2A2A;
}

#card {
    height: 80vh;
    margin: 10px;
    box-shadow: 0.5px 0.5px 0.5px #000;
}

.card-title {
    font-size: 12pt;
    background-color:#FFFFFF;
    color:#6B6B6B;
}
.card-footer {
    font-size: 10pt;
    background-color:#FFFFFF;
    color:#6B6B6B;
}

.date {
   /*display:none;*/
   position: absolute;
   opacity:0;
}
@media (min-width:1024px){
    .card {
        margin:500px;
    }
}
