<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
{% load static %}
  <script>
  const versets = ('{{ versets|escapejs }}');
  
  </script>
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="card" id="card">
    <div id="date" class="card-header text-center fw-bold">
      <span id="txt_date">Daty</span>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center fw-bolder text-uppercase">
        Soratra masina
      </h5>
      <p class="card-text fst-italic fw-lighter">
        Vontoatin'ny soratra masina sy fanazavana
      </p>
    </div>
    <div class="card-footer text-muted">
      <b>Voaditiana Santatra</b> Copyright 2026
    </div>
  </div>
  <div class="date" id="control">
    <input type="text" id="in_date" value="" style="display: none; opacity" data-input data-toggle/>
   </div>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
